h1{
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

h2{
	font-size: 125%;
	font-family: Monospace;
	text-align: center;
}

h3{
	font-size: 125%;
	font-family: Monospace;
	color: #ffffff;
	text-align: center;
}

h4{
	font-size: 125%;
	font-family: Monospace;
	text-align: center;
}

p {
	font-size: 90%;
	font-family: Helvetica;
}
