h1{
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

h2{
	font-size: 125%;
	font-family: Monospace;
}

h3{
	font-size: 125%;
	font-family: Monospace;
}

h4{
	font-size: 125%;
	font-family: Monospace;
}

p {
	font-size: 90%;
	color: 808080;
	font-family: Helvetica;
}
